# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS and misc
.DS_Store
*.log
*.sqlite3
__pycache__/

# IDEs
.vscode/
.idea/
